streamlit 
pandas 
numpy 
matplotlib.pyplot 
seaborn 
sklearn.model_selection
train_test_split
sklearn.preprocessing
StandardScaler
MinMaxScaler
RobustScaler
LabelEncoder
sklearn.linear_model
LogisticRegression
LinearRegression
Ridge
Lasso
sklearn.tree
DecisionTreeClassifier
sklearn.ensemble
RandomForestClassifier
RandomForestRegressor
xgboost
XGBClassifier
XGBRegressor
sklearn.metrics
classification_report
ConfusionMatrixDisplay
mean_squared_error
mean_absolute_error
r2_score 
scipy.stats
skew
imblearn.over_sampling
SMOTE
